<div class="row-layout row">
  <div class="column-layout column">
    <div class="column-layout_1 column">
      <div class="column-layout_3 column">
        <h3 class="title">Set new password</h3>
        <p class="igx-typography__body-2 text">Please, type your new password and click confirm. </p>
      </div>
      <igx-input-group type="border" placeholder="Min 8 characters" class="input-group">
        <label igxLabel for="inputField">Password</label>
        <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Min 8 characters" igxInput />
      </igx-input-group>
      <igx-input-group type="border" placeholder="Repeat password" class="input-group">
        <label igxLabel for="inputField">Password</label>
        <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Repeat password" igxInput />
      </igx-input-group>
      <button igxButton="raised" igxButtonBackground="var(--igx-secondary-500)" [disabled]="false" routerLink="/home/login" class="button">
        <span>confirm new password</span>
      </button>
    </div>
  </div>
  <div class="column-layout_2 column"></div>
</div>
