:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row-layout {
  justify-content: center;
  height: 8%;
  min-width: 50px;
  min-height: max-content;
  background-color: var(--igx-grays-100);
  border-color: var(--igx-grays-200);
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  align-items: center;
}
.row-layout_1 {
  height: 100%;
  position: relative;
  width: max-content;
  align-items: center;
}
.image {
  margin: 0 32px;
  width: 130px;
  height: 35px;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  object-fit: scale-down;
}
.views-container {
  position: relative;
  height: 92%;
}
.row {
  display: flex;
}
